// Footer styles
// -------------

// [1] Needed to force copyright wraps onto a second line.
.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: var(--z-footer);

  @media #{$small} {
    flex-wrap: wrap; // [1]
    justify-content: center;
    padding: 0.236rem;
  }
}

// [1] Elements width is based off of the content size, this mail and social 
//     icons have the same spacing.
.footer > * {
  flex: 1;

  @media #{$small} {
    flex: none; // [1]
  }
}

// [1] Show only a subtle text outline.
// [2] Force element to occupy the last position.
.copyright {
  color: transparent; // [1]
  display: flex;
  filter: blur(.5px) drop-shadow(0 0 1px rgba(255,255,255,1));  // [1]
  justify-content: center;
  opacity: 0.3;  // [1]
  text-align: center;
  -webkit-text-stroke: 1px var(--dark-grey);  // [1]

  @media #{$small} {
    filter: blur(0) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    margin-top: 0.382rem;
    order: 2; // [2]
    width: 100%;
  }
}

.social {
  display: flex;
  justify-content: flex-end;

  @media #{$small} {
    margin-left: 1rem;
  }
}

// Add space between social links.
.social-link + .social-link {
  margin-left: 1rem;
}

// Show mail and social links as text on wide screens
.mail-text,
.social-link-text {
  @media #{$small} {
    display: none;
  }
}

// Show mail and social links as icons on small screens
.mail-icon,
.social-link-icon {
  align-items: center;
  background: rgba(30, 30, 30, 0.3);
  border-radius: 50%;
  display: none;
  height: 2.618rem;
  justify-content: center;
  width: 2.618rem;

  @media #{$small} {
    display: flex;
  }
}

.mail-icon > svg,
.social-link-icon > svg {
  fill: var(--white);
  height: 1rem;
}

.mail-icon > svg {
  width: 1rem;
}
