.SplitIcon {
  display: inline-block;
  position: relative;

  & > svg {
    height: 1.5rem;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    transition: all 0.146s;
    width: auto;

    &:first-child {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      position: relative;
    }

    &:last-child {
      clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
      position: absolute;
    }
  }
}

/** Split icon on hover event */
.SplitIcon:hover {
  & > svg:first-child {
    transform: translate(0%, -6%);
  }

  & > svg:last-child {
    transform: translate(0%, 6%);
  }
}
