@custom-media --small (width <= 800px);

.RubParallax {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* [1] Center the picture bypassing the cropping effect due to object-fit: cover */
.fixedRubContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* [1] Center the picture bypassing the cropping effect due to object-fit: cover */
.parallaxedRubContainer {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.fixedRub {
  height: 100%;
  width: auto;
  user-select: none;
}

.parallaxedRubLeft,
.parallaxedRubRight {
  height: 100%;
  opacity: 0.5;
  user-select: none;
  width: 100%;
}

/* Sliced effect */
.parallaxedRubLeft {
  clip-path: polygon(
    0% 2.5%,
    100% 2.5%,
    100% 12.5%,
    0% 12.5%,
    0% 22.5%,
    100% 22.5%,
    100% 32.5%,
    0% 32.5%,
    0% 42.5%,
    100% 42.5%,
    100% 52.5%,
    0% 52.5%,
    0% 62.5%,
    100% 62.5%,
    100% 72.5%,
    0% 72.5%,
    0% 82.5%,
    100% 82.5%,
    100% 92.5%,
    0 92.5%
  );
}

/* Sliced effect */
.parallaxedRubRight {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 2.5%,
    0% 2.5%,
    100% 2.5%,
    100% 2.5%,
    0% 2.5%,
    0% 12.5%,
    100% 12.5%,
    100% 22.5%,
    0% 22.5%,
    0% 32.5%,
    100% 32.5%,
    100% 42.5%,
    0% 42.5%,
    0% 52.5%,
    100% 52.5%,
    100% 62.5%,
    0% 62.5%,
    0% 72.5%,
    100% 72.5%,
    100% 82.5%,
    0% 82.5%,
    0% 92.5%,
    100% 92.5%,
    100% 100%,
    0% 100%
  );
}

.portfolioButton {
  bottom: 15vh;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  @media (--small) {
    bottom: 20vh;
  }

  @media (--small) and (orientation: landscape) {
    bottom: 25vh;
  }
}
