::-webkit-scrollbar {
  display: none;
}

.listWrapper {
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding-left: 10vw;
  position: relative;
  width: 100vw;
}

.list {
  height: 100vh;
  width: 0; /* Set the blur only when hovering a project item */
}

/* Set default styles if the container is not hovered */
.list:not(:hover) {
  & span {
    color: var(--accent);
    filter: blur(0);
  }

  & h1 {
    color: var(--grey-100);
    filter: blur(0);
  }
}
