.About {
  color: var(--dark-grey);
  margin: auto;
  max-width: 1080px;
}

.name {
  font-family: "Marck Script", cursive;
  font-size: 4.236rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
}

.role {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.27rem;
  margin-top: 1.618rem;
}

.description {
  color: var(--grey);
  margin-top: 1.618rem;
}
