@custom-media --medium (width <= 1024px);
@custom-media --small (width <= 800px);
@custom-media --xsmall (width <= 600px);

/*
Use `hover: none` to detect mobile devices in order to apply responsive changes
to the Footer layout when cursor button is disabled.
*/

.About {
  color: var(--dark-grey);
}

.name {
  font-family: "Marck Script", cursive;
  font-size: 4.236rem;
  font-weight: 400;
  letter-spacing: 0.16rem;
}

.role {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.27rem;
  margin-top: 1.618rem;
}

.description {
  color: var(--grey);
  margin-top: 1.618rem;
}

.homeFooter {
  margin-top: 3.157rem;
  justify-content: center;
  padding-bottom: 1.333rem;

  @media (hover: none) and (--medium) and (orientation: landscape), (--small) {
    padding-bottom: 0.618rem;
  }

  @media (hover: none) and (--small) and (orientation: landscape),
    (hover: none) and (--xsmall) {
    padding-bottom: 0.326rem;
  }

  @media (hover: none) and (--xsmall) {
    justify-content: space-around;
    width: 100%;
  }
}
