@custom-media --small (width <= 960px);

.Copyright {
  bottom: calc(1.618rem + 5px);
  color: transparent;
  font-size: 0.75rem;
  left: 50%;
  opacity: 0.3;
  padding: 0 1rem;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  -webkit-text-stroke: 1px var(--dark-grey);

  @media (--small) {
    bottom: 2.618rem;
  }
}
