/** Custom base styles */

/* Font: Nunito - regular, bold */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Font: Druk Cyr - bold & fallbacks */
@font-face {
  font-family: "Druk Cyr", Fallback Druk, sans-serif;
  src: url("/fonts/DrukCyr-Bold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0025-00FF;
}

/* Fallback font for Druk Cyr: Impact */
@font-face {
  font-family: "Fallback Druk";
  ascent-override: 130%;
  descent-override: 50%;
  line-gap-override: normal;
  size-adjust: 73%;
  src: local(Impact);
}

:root {
  --white: #fff;
  --grey: #404040;
  --dark-grey: #303030;
  --light-grey: #d6d6d6;
  --lightest-grey: #bfbfbf;
}

html {
  font: 18px/1.5 "Druk Cyr", Fallback Druk, sans-serif;
  overflow: auto;
}

html,
body {
  min-height: 100%;
}

body {
  overflow: hidden;
}

h1 {
  font-family: "Druk Cyr", Fallback Druk, sans-serif;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}
