.Footer {
  max-width: 1264px;
  padding: 2rem 3rem;
  width: 100%;

  @media (max-width: 1168px) {
    padding: 2rem;
  }

  @media (max-width: 960px) {
    padding: 2rem 1rem;
  }

  @media (max-width: 740px) {
    padding: 1rem;
  }
}

.socialLinks {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.socialLink {
  &:hover .socialIcon {
    fill: var(--grey-300);
  }
}

.socialIcon {
  fill: var(--grey-500);
  transition: all 1.146s;

  @media (max-width: 740px) {
    fill: var(--grey-300);
  }
}

.copyright {
  color: var(--grey-700);
  font-family: "Zilla Slab", serif;
  margin-top: 2rem;

  @media (max-width: 740px) {
    color: var(--grey-500);
    margin-top: 1rem;
  }

  @media (max-width: 600px) {
    color: var(--grey-300);
    font-size: 0.875rem;
  }
}
