.Footer {
  display: flex;
  width: 100%;
  z-index: 100;
}

.socialLinks {
  display: flex;
  justify-content: center;
  opacity: 0.72;
}

.socialLinks > * + * {
  margin-left: 1.618rem;
}

.Footer.isLight .socialIcons path {
  fill: var(--white);
}

.Footer.isDark .socialIcons path {
  fill: var(--dark-grey);
}
