@custom-media --medium (width <= 1180px);
@custom-media --small (width <= 800px);
@custom-media --xsmall (width <= 600px);

/*
Use `hover: none` to detect mobile devices. Header layout does not change when
cursor button movement is available.
*/

.Header {
  align-items: center;
  color: var(--white);
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  width: 100%;

  @media (hover: none) and (--medium) and (orientation: landscape) {
    padding-top: 1rem;
  }

  @media (hover: none) and (--small) and (orientation: portrait) {
    padding-top: 3.157rem;
  }

  @media (hover: none) and (--small) and (orientation: landscape) {
    padding-top: 0.618rem;
  }

  @media (hover: none) and (--xsmall) {
    padding-top: 1.618rem;
  }
}

.author {
  font-family: "Marck Script", cursive;
  font-size: 2.618rem;
  line-height: 1.1;

  @media (hover: none) and (--small) and (orientation: landscape) {
    line-height: inherit;
    top: 1rem;
  }
}

.role {
  margin-top: 0.369rem;
  opacity: 0.72;

  @media (hover: none) and (--small) and (orientation: landscape) {
    margin-top: 0;
  }

  @media (hover: none) and (--small) and (orientation: portrait) {
    margin-top: 0.618rem;
  }

  @media (hover: none) and (--xsmall) and (orientation: portrait) {
    margin-top: 0.369rem;
  }
}
