@custom-media --medium (width <= 800px);
@custom-media --small (width <= 600px);

.Header {
  color: var(--light-grey);
  cursor: none;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: relative;
  top: 0;
  user-select: none;
  width: 100%;

  @media (--medium) and (orientation: portrait) {
    align-items: center;
    flex-direction: column;
    padding-top: 3.157rem;
  }

  @media (--small) {
    padding-top: 1.618rem;
  }

  & > * + * {
    @media (--medium) and (orientation: portrait) {
      margin-top: 0.618rem;
    }

    @media (--small) and (orientation: portrait) {
      margin-top: 0.369rem;
    }
  }
}

.author {
  font-family: "Marck Script", cursive;
  font-size: 1.333rem;
  left: 1.618rem;
  line-height: 1.1; /* Fix alignment between author and role */
  position: absolute;
  top: 1.618rem;

  @media (--medium) and (orientation: portrait) {
    position: static;
  }

  @media (--medium) and (orientation: landscape) {
    line-height: inherit;
    top: 1rem;
  }
}

.role {
  position: absolute;
  right: 1.618rem;
  top: 1.618rem;

  @media (--medium) and (orientation: portrait) {
    position: static;
  }

  @media (--medium) and (orientation: landscape) {
    top: 1rem;
  }
}
