.Hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1264px;
  padding: 0 3rem;
  width: 100%;
}

.blurryContainer {
  height: 100%;
  width: 100%;
}

.blurryEfx {
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(13px) saturate(250%);
  height: 100%;
  mask-image: url("../../images/alessio-rapini.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  transform: translateZ(0);
  width: 100%;
  -webkit-mask-size: contain;
}

.blurryText {
  height: 100%;
  overflow: visible !important;
  transform: translate3d(0, -100%, 0);
  width: 100%;
}

.description {
  color: var(--grey-700);
  font-size: 2rem;
  letter-spacing: 15px;
  margin-top: 2rem;
  text-transform: uppercase;
  user-select: none;
}

.role {
  color: var(--accent);
}
