/* TODO: Reintroduce previous styles on (max-width: 1728px) */
.hero {
  bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 50%;
  max-width: 67vw;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  user-select: none;

  @media (max-width: 1728px) {
    max-width: 1264px;
    padding: 0 3rem;
  }

  @media (max-width: 1260px) {
    padding: 0;
    width: 90vw;
  }
}

.glassyHeadingFixed {
  color: hsla(80, 3%, 96%, 24%);
  cursor: default;
  font-size: 14.35vw;
  height: 12.4vw;
  letter-spacing: 0.522vw;
  line-height: 12.4vw;
  text-transform: uppercase;
  /* Make the browser accelerate graphics to prevent text being blurred on Safari */
  transform: translate3d(0, 0, 1px);

  @media (max-width: 1728px) {
    font-size: 248px;
    height: 214px;
    letter-spacing: 9px;
    line-height: 214px;
  }

  @media (max-width: 1260px) {
    font-size: 19.17vw;
    height: 16.5vw;
    letter-spacing: 0.79vw;
    line-height: 16.5vw;
  }

  @media (max-width: 740px) {
    color: hsla(84, 6%, 96%, 27%);
  }
}

.glassyHeadingFixed {
  @supports (backdrop-filter: blur(13px) saturate(250%)) {
    backdrop-filter: blur(13px) saturate(250%);
    background-color: hsla(80, 3%, 96%, 24%);
    clip-path: url(#lockup-headline-mask-path);

    @media (max-width: 740px) {
      background-color: hsla(84, 6%, 96%, 27%);
    }
  }
}

.description {
  color: var(--grey-700);
  font-size: 2vw;
  letter-spacing: 0.87vw;
  margin-top: 2.1vw;
  text-transform: uppercase;

  @media (max-width: 1728px) {
    font-size: 2rem;
    letter-spacing: 15px;
    margin-top: 2rem;
  }

  @media (max-width: 1168px) {
    color: var(--grey-500);
  }

  @media (max-width: 740px) {
    font-size: 6.5vw;
    letter-spacing: 6px;
    margin-top: 1rem;
  }
}

.descriptionFadeIn {
  animation: description-reveal 500ms ease-out 1000ms forwards;
  margin-top: 0.5rem;
  opacity: 0;
}

.role {
  color: var(--accent);
}

.roleLetterWrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
}

.roleLetter {
  display: inline-block;
}

@keyframes description-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
