/** Custom base styles */

/* Font: Nunito - regular, bold */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

/* Font: Marck Script - regular */
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");

:root {
  --white: #fff;
  --grey: #404040;
  --light-grey: #d6d6d6;
  --dark-grey: #303030;
}

html {
  font: 18px/1.5 Nunito;
  overflow: auto;
}

html,
body {
  min-height: 100%;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
