.ButtonCursorWrapper {
  --circleDiameter: 100px;
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

  cursor: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;

  &:hover .ButtonCursor,
  &:hover .ButtonCursorInner,
  &:hover .ButtonCursorText {
    opacity: 1;
  }
}

.ButtonCursor {
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transform-origin: center;
  z-index: 0;
}

.ButtonCursorInner {
  background-color: transparent;
  border: 2px solid #cfdef3;
  border-radius: 50%;
  height: var(--circleDiameter);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.75s var(--easeOutExpo),
    transform 0.65s var(--easeOutExpo);
  transition-delay: 0.2s;
  width: var(--circleDiameter);
}

.ButtonCursorText {
  color: #cfdef3;
  font-size: 0.618rem;
  font-weight: 600;
  left: calc(var(--circleDiameter) / 2);
  letter-spacing: 0.1rem;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  transition: opacity 0.75s var(--easeOutExpo);
  transition-delay: 0.2s;
  top: calc(var(--circleDiameter) / 2);

  & > p {
    transform: translate3d(-50%, -50%, 0);
  }
}
