.ButtonCursorWrapper {
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --circleWidth: 100px;
  --circleHeight: var(--circleWidth);

  cursor: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;

  &:hover .ButtonCursor,
  &:hover .ButtonCursorInner {
    opacity: 1;
  }
}

.ButtonCursor {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: center;
  pointer-events: none;
  z-index: 0;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.ButtonCursorInner {
  pointer-events: none;
  height: var(--circleHeight);
  width: var(--circleWidth);
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;

  opacity: 0;
  transition: opacity 0.75s var(--easeOutExpo),
    transform 0.65s var(--easeOutExpo);
  transition-delay: 0.2s;
}

.ButtonCursorText {
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: calc(var(--circleHeight) / 2);
  left: calc(var(--circleWidth) / 2);

  & > p {
    transform: translate(-50%, -50%);
  }
}
