@custom-media --small (width < 767px);

.Footer {
  align-items: center;
  bottom: 0;
  color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;

  @media (--small) {
    flex-direction: column;
    padding-bottom: 0.618rem;
  }

  & > * {
    flex: 1;
  }

  & > * + * {
    @media (--small) {
      margin-top: 0.382rem;
    }
  }
}

.emailText {
  @media (--small) {
    display: none;
  }
}

.copyright {
  color: transparent;
  font-size: 0.75rem;
  opacity: 0.3;
  text-align: center;
  -webkit-text-stroke: 1px var(--dark-grey);

  @media (--small) {
    order: 1;
  }
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
}

.socialLinks > * + * {
  margin-left: 1rem;
}

.socialIcons path {
  fill: var(--light-grey);
}

.emailIcon {
  display: none;
  @media (--small) {
    display: block;
  }
}
