.Header {
  align-items: center;
  color: var(--white);
  cursor: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1168px;
  padding-top: 3rem;
  width: 100%;
  z-index: 100;
}

.NavLink {
  letter-spacing: 5px;
  text-transform: uppercase;
}
