.header {
  align-items: center;
  color: #f2f2f3;
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding: 3rem;
  width: 100%;

  @media (max-width: 1168px) {
    padding: 2rem;
  }

  @media (max-width: 960px) {
    padding: 1rem;
  }
}

.positionFixed {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 10000;

  & .logo {
    animation: none;
    opacity: 1;
    pointer-events: all;
  }
}

.logo {
  align-items: center;
  animation: logo-reveal 1000ms ease-out 4500ms forwards;
  backdrop-filter: blur(13px) saturate(250%);
  background-color: rgba(255, 255, 255, 0.31);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  opacity: 0;
  user-select: none;
  width: 2rem;
}

@keyframes logo-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
