<!DOCTYPE html>
<html>
<head>
  <title>Alessio Rapini - UI/UX Designer, Frontend Developer</title>
</head>
<body>
  <main class="main">
    <header class="header">
      <p>Alessio Rapini</p>
    </header>
    <div class="container">
      <h1>Coming soon</h1>
    </div>
    <footer class="footer">
      <a href="mailto:alessio.rapini@yahoo.it">alessio.rapini@yahoo.it</a>
      <div class="social">
        <a href="https://it.linkedin.com/in/alessiorapini">LinkedIn</a>
        <a href="https://github.com/rub">GitHub</a>
        <a href="https://twitter.com/alessiorapini">Twitter</a>
      </div>
    </footer>
  </main>
</body>
</html>
