<!DOCTYPE html>
<html>
{{ partial "head.html" }}
<body>
  <main class="main">
    {{ partial "header.html" }}
    <section class="welcome">
      <div class="rub">
        <canvas class="rub-fixed"></canvas>
        <div class="rub-parallax left js-parallax">
          <canvas data-depth="0.3"></canvas>
        </div>
        <div class="rub-parallax right js-parallax">
          <canvas data-depth="0.3"></canvas>
        </div>
      </div>
      <div class="rub mobile">
        <canvas class="rub-fixed mobile"></canvas>
        <div class="rub-parallax left mobile js-parallax">
          <canvas data-depth="0.3"></canvas>
        </div>
        <div class="rub-parallax right mobile js-parallax">
          <canvas data-depth="0.3"></canvas>
        </div>
      </div>
      <p class="coming_soon">Coming soon</p>
    </section>
    {{ partial "footer.html" }}
  </main>
</body>
</html>
