<!DOCTYPE html>
<html>
<head>
  <title>Alessio Rapini - Full Stack Designer</title>
  <link href="../static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main class="main">
    <header class="header">
      <p>Alessio Rapini</p>
      <p>Full Stack Designer</p>
    </header>
    <section class="welcome">
      <p class="coming_soon">Coming soon</p>
    </section>
    <footer class="footer">
      <a href="mailto:alessio.rapini@yahoo.it">alessio.rapini@yahoo.it</a>
      <div class="social">
        <a class="social-link" href="https://it.linkedin.com/in/alessiorapini">LinkedIn</a>
        <a class="social-link" href="https://github.com/rub">GitHub</a>
        <a class="social-link" href="https://twitter.com/alessiorapini">Twitter</a>
      </div>
    </footer>
  </main>
</body>
</html>
