.Works {
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  grid-gap: 2.618rem;
  justify-content: center;
}

// TODO: Find a better way to handle the following margins
.Works > div:nth-child(3n + 2) {
  margin-top: 1.618rem;

  @media (max-width: 1090px) {
    margin-top: 0;
  }
}

.Works > div:nth-child(even) {
  @media (max-width: 1090px) {
    margin-top: 1.618rem;
  }

  @media (max-width: 728px) {
    margin-top: 0;
  }
}
