.projectImg {
  height: clamp(200px, 20vw, 20vw);
  left: 45vw;
  object-fit: cover;
  pointer-events: none;
  position: fixed;
  top: 30vh;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: auto;
}
