.wrapper {
  line-height: 1.25;
  padding: 5px 0;
  width: fit-content;
}

.infoBlock {
  font-size: 20px;
  left: 70vw;
  letter-spacing: 5px;
  position: fixed;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  & p {
    color: var(--grey-300);
    margin-bottom: 10px;
    overflow: hidden;
    text-transform: uppercase;

    & span {
      display: block;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.25s ease-in-out;
    }
  }
}

.isActive p {
  &:nth-child(1n) span {
    transition-delay: 0s;
  }
  &:nth-child(2n) span {
    transition-delay: 0.1s;
  }
  &:nth-child(3n) span {
    transition-delay: 0.2s;
  }
  &:nth-child(4n) span {
    transition-delay: 0.3s;
  }
  &:nth-child(5n) span {
    transition-delay: 0.4s;
  }

  & span {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .projectTitle {
  backdrop-filter: blur(13px) saturate(250%);
  background-color: hsla(80, 3%, 96%, 24%);
  color: hsla(80, 3%, 96%, 24%);
  cursor: default;
  font-size: 164px;
  height: 164px;
  letter-spacing: 9px;
  line-height: 164px;
  position: absolute;
  text-transform: none;
  top: 50%; */
/* Make the browser accelerate graphics to prevent text being blurred on Safari */
/* transform: translate3d(-50%, -50%, 1px);
  z-index: 1;
  width: 100%;

  & svg {
    width: 100%;
  }
} */
