.wrapper {
  height: clamp(200px, 20vw, 20vw);
  left: 45vw;
  pointer-events: none;
  position: fixed;
  top: 20vh;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.imageFixed {
  opacity: 0.5;
  position: absolute;
}

.imageSlicedLeft {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 10%,
    0 10%,
    0 20%,
    100% 20%,
    100% 30%,
    0 30%,
    0 40%,
    100% 40%,
    100% 50%,
    0 50%,
    0 60%,
    100% 60%,
    100% 70%,
    0 70%,
    0 80%,
    100% 80%,
    100% 90%,
    0 90%
  );
  opacity: 0.5;
  position: absolute;
}

.imageSlicedRight {
  clip-path: polygon(
    0 10%,
    100% 10%,
    100% 20%,
    0 20%,
    0 30%,
    100% 30%,
    100% 40%,
    0 40%,
    0 50%,
    100% 50%,
    100% 60%,
    0 60%,
    0 70%,
    100% 70%,
    100% 80%,
    0 80%,
    0 90%,
    100% 90%,
    100% 100%,
    0 100%
  );
  opacity: 0.5;
  position: absolute;
}
