.itemWrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 25vh;
  line-height: 1.25;
  padding: 5px 0;
  user-select: none;

  /* Since we cannot select previous elements, we set them as the default and then overwrite subsequent project siblings */
  & .projectCounter,
  & .heading {
    opacity: 0.25;
    transition: all 0.5s ease-out;
  }

  & .projectCounter {
    color: var(--grey-100);
  }

  /* The hovered element to unblur */
  &:hover .projectCounter {
    color: var(--accent);
    opacity: 1;
  }

  &:hover .heading {
    color: var(--grey-100);
    opacity: 1;
  }

  /* Blur every item after the hovered element */
  &:hover ~ & .projectCounter {
    color: var(--grey-300);
    opacity: 0.25;
  }

  /* Blur every item after the hovered element */
  &:hover ~ & .heading {
    opacity: 0.25;
  }
}

.projectCounter {
  color: var(--accent);
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-left: -3rem;
  position: relative;
  width: 3rem;
  z-index: 1;
}

.titleWrapper {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.heading {
  color: var(--grey-100);
  display: inline-block;
  font-size: 8.5vw;
  line-height: 1.1;
  position: relative;
  z-index: 1;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.infoBlock {
  font-size: 20px;
  left: calc(100% + 2rem);
  letter-spacing: 5px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  & .infoLine {
    color: var(--grey-300);
    margin-bottom: 10px;
    overflow: hidden;
    text-transform: uppercase;

    & .infoLineText {
      display: block;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.25s ease-in-out;
      white-space: nowrap;
    }
  }
}

.isActive .infoLine {
  &:nth-child(1n) .infoLineText {
    transition-delay: 0s;
  }
  &:nth-child(2n) .infoLineText {
    transition-delay: 0.1s;
  }
  &:nth-child(3n) .infoLineText {
    transition-delay: 0.2s;
  }
  &:nth-child(4n) .infoLineText {
    transition-delay: 0.3s;
  }
  &:nth-child(5n) .infoLineText {
    transition-delay: 0.4s;
  }

  & .infoLineText {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .projectTitle {
  backdrop-filter: blur(13px) saturate(250%);
  background-color: hsla(80, 3%, 96%, 24%);
  color: hsla(80, 3%, 96%, 24%);
  cursor: default;
  font-size: 164px;
  height: 164px;
  letter-spacing: 9px;
  line-height: 164px;
  position: absolute;
  text-transform: none;
  top: 50%; */
/* Make the browser accelerate graphics to prevent text being blurred on Safari */
/* transform: translate3d(-50%, -50%, 1px);
  z-index: 1;
  width: 100%;

  & svg {
    width: 100%;
  }
} */

.imagesWrapper {
  height: clamp(200px, 20vw, 20vw);
  left: 45vw;
  pointer-events: none;
  position: fixed;
  top: 20vh;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.imageSlicedLeft {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 10%,
    0 10%,
    0 20%,
    100% 20%,
    100% 30%,
    0 30%,
    0 40%,
    100% 40%,
    100% 50%,
    0 50%,
    0 60%,
    100% 60%,
    100% 70%,
    0 70%,
    0 80%,
    100% 80%,
    100% 90%,
    0 90%
  );
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.imageSlicedRight {
  clip-path: polygon(
    0 10%,
    100% 10%,
    100% 20%,
    0 20%,
    0 30%,
    100% 30%,
    100% 40%,
    0 40%,
    0 50%,
    100% 50%,
    100% 60%,
    0 60%,
    0 70%,
    100% 70%,
    100% 80%,
    0 80%,
    0 90%,
    100% 90%,
    100% 100%,
    0 100%
  );
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
