.workTitleWrapper {
  font-size: 160px;
  position: relative;

  & + .workTitleWrapper {
    margin-top: 4rem;
  }
}

/* .workNavTitle {
} */

/* .workTitleFixed {
  opacity: 0.5;
  position: relative;
  z-index: 1;
} */

/* .workTitleSlicedTop,
.workTitleSlicedBottom {
  left: 0;
  opacity: 0.5;
  position: absolute;
  user-select: none;
}

.workTitleSlicedTop {
  clip-path: polygon(
    0 0,
    0 100%,
    10% 100%,
    10% 0,
    20% 0,
    20% 100%,
    30% 100%,
    30% 0,
    40% 0,
    40% 100%,
    50% 100%,
    50% 0,
    60% 0,
    60% 100%,
    70% 100%,
    70% 0,
    80% 0,
    80% 100%,
    90% 100%,
    90% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0
  );
}

.workTitleSlicedBottom {
  clip-path: polygon(
    0 0,
    0 100%,
    10% 100%,
    10% 0,
    20% 0,
    20% 100%,
    30% 100%,
    30% 0,
    40% 0,
    40% 100%,
    50% 100%,
    50% 0,
    60% 0,
    60% 100%,
    70% 100%,
    70% 0,
    80% 0,
    80% 100%,
    90% 100%,
    90% 0
  );
} */
