@custom-media --small (width <= 800px);

.RubParallax {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}

/* [1] Center the picture bypassing the cropping effect due to object-fit: cover */
.fixedRubContainer {
  height: 90%;
  overflow: hidden;
  position: relative;

  @media (--small) {
    height: 80%;
  }
}

/* [1] Center the picture bypassing the cropping effect due to object-fit: cover */
.parallaxedRubContainer {
  height: 90%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  @media (--small) {
    height: 80%;
  }
}

.fixedRub {
  height: 100%;
  width: auto;
  user-select: none;
}

.parallaxedRubLeft,
.parallaxedRubRight {
  height: 100%;
  opacity: 0.5;
  user-select: none;
  width: 100%;
}

/* Sliced effect */
.parallaxedRubLeft {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 5.5%,
    0 5%,
    0 10%,
    100% 11%,
    100% 16.5%,
    0 16.5%,
    0 22.5%,
    100% 22.5%,
    100% 28%,
    0 28%,
    0 33.5%,
    100% 33.5%,
    100% 39%,
    0 39%,
    0 44.5%,
    100% 44.5%,
    100% 50%,
    0 50%,
    0 55.5%,
    100% 55.5%,
    100% 61%,
    0 61%,
    0 66.5%,
    100% 66.5%,
    100% 72%,
    0 72%,
    0 77.5%,
    100% 77.5%,
    100% 83%,
    0 83%,
    0 88.5%,
    100% 88.5%,
    100% 94%,
    0 94%,
    0 100%
  );
}

/* Sliced effect */
.parallaxedRubRight {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    0 0,
    0 5.5%,
    100% 5.5%,
    100% 11%,
    0 11%,
    0 16.5%,
    100% 16.5%,
    100% 22.5%,
    0 22.5%,
    0 28%,
    100% 28%,
    100% 33.5%,
    0 33.5%,
    0 39%,
    100% 39%,
    100% 44.5%,
    0 44.5%,
    0 50%,
    100% 50%,
    100% 55.5%,
    0 55.5%,
    0 61%,
    100% 61%,
    100% 66.5%,
    0 66.5%,
    0 72%,
    100% 72%,
    100% 77.5%,
    0 77.5%,
    0 83%,
    100% 83%,
    100% 88.5%,
    0 88.5%,
    0 94%,
    100% 94%,
    100% 100%,
    0 100%
  );
}
